@model IEnumerable<TMDT4.Models.laptop>
@{
    ViewBag.Title = "Index";
}

<h3>Company</h3>
@{Html.RenderAction("getCompany", "Laptop"); }
<h3>Screen Resolution</h3>
@{Html.RenderAction("getScreenResolution", "Laptop"); }
<h3>Type Name</h3>
@{Html.RenderAction("getTypeName", "Laptop"); }
<h3>Inches</h3>
@{Html.RenderAction("getInches", "Laptop"); }
<h3>CPU</h3>
@{Html.RenderAction("getCPU", "Laptop"); }
<h3>Speed</h3>
@{Html.RenderAction("getSpeed", "Laptop"); }
<h3>Memory</h3>
@{Html.RenderAction("getMemory", "Laptop"); }
<h3>RAM</h3>
@{Html.RenderAction("getRam", "Laptop"); }
<h3>GPU</h3>
@{Html.RenderAction("getGPU", "Laptop"); }
<h3>OS</h3>
@{Html.RenderAction("getOS", "Laptop"); }
<h3>Weight</h3>
@{Html.RenderAction("getWeight", "Laptop"); }
<h3>Price Low</h3>
@{Html.RenderAction("getPriceLow", "Laptop"); }
<h3>Price Hight</h3>
@{Html.RenderAction("getPriceHight", "Laptop"); }


<input type="button" name="name" onclick="find();" value="Assign" />
<ul id="laptop"></ul>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    var uri = "../../api/LaptopAPI"
    $(document).ready(function () {
        $.getJSON(uri).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: formatItem(item) }).appendTo($('#laptop'));
            });
        });
    });
    function formatItem(item) {
        return item.Product + ' - ' + item.Price_euros;
    }
    function find() {
        $('#laptop').text('');
        var idString = "";

        // company
        var idCompany = $('#2').find('input[type=checkbox]');
        for (var i = 0; i < idCompany.length; i++) {
            if (idCompany[i].checked) {
                if (idString == "") {
                    idString = "2-" + idCompany[i].name;
                }
                else {
                    idString = idString + "_2-" + idCompany[i].name;
                }
            }
        }

        // screen resolution
        var idScreenResolution = $('#3').find('input[type=checkbox]');
        for (var i = 0; i < idScreenResolution.length; i++) {
            if (idScreenResolution[i].checked) {
                if (idString == "") {
                    idString = "3-" + idScreenResolution[i].name;
                }
                else {
                    idString = idString + "_3-" + idScreenResolution[i].name;
                }
            }
        }

        // type name
        var idTypeName = $('#4').find('input[type=checkbox]');
        for (var i = 0; i < idTypeName.length; i++) {
            if (idTypeName[i].checked) {
                if (idString == "") {
                    idString = "4-" + idTypeName[i].name;
                }
                else {
                    idString = idString + "_4-" + idTypeName[i].name;
                }
            }
        }

        // inches
        var idInches = $('#5').find('input[type=checkbox]');
        for (var i = 0; i < idInches.length; i++) {
            if (idInches[i].checked) {
                if (idString == "") {
                    idString = "5-" + idInches[i].name;
                }
                else {
                    idString = idString + "_5-" + idInches[i].name;
                }
            }
        }

        // cpu
        var idCPU = $('#6').find('input[type=checkbox]');
        for (var i = 0; i < idCPU.length; i++) {
            if (idCPU[i].checked) {
                if (idString == "") {
                    idString = "6-" + idCPU[i].name;
                }
                else {
                    idString = idString + "_6-" + idCPU[i].name;
                }
            }
        }

        // speed
        var idSpeed = $('#7').find('input[type=checkbox]');
        for (var i = 0; i < idSpeed.length; i++) {
            if (idSpeed[i].checked) {
                if (idString == "") {
                    idString = "7-" + idSpeed[i].name;
                }
                else {
                    idString = idString + "_7-" + idSpeed[i].name;
                }
            }
        }

        // memory
        var idMemory = $('#8').find('input[type=checkbox]');
        for (var i = 0; i < idMemory.length; i++) {
            if (idMemory[i].checked) {
                if (idString == "") {
                    idString = "8-" + idMemory[i].name;
                }
                else {
                    idString = idString + "_8-" + idMemory[i].name;
                }
            }
        }

        // ram
        var idRam = $('#9').find('input[type=checkbox]');
        for (var i = 0; i < idRam.length; i++) {
            if (idRam[i].checked) {
                if (idString == "") {
                    idString = "9-" + idRam[i].name;
                }
                else {
                    idString = idString + "_9-" + idRam[i].name;
                }
            }
        }

        // GPU
        var idGPU = $('#10').find('input[type=checkbox]');
        for (var i = 0; i < idGPU.length; i++) {
            if (idGPU[i].checked) {
                if (idString == "") {
                    idString = "10-" + idGPU[i].name;
                }
                else {
                    idString = idString + "_10-" + idGPU[i].name;
                }
            }
        }

        // OS
        var idOS = $('#11').find('input[type=checkbox]');
        for (var i = 0; i < idOS.length; i++) {
            if (idOS[i].checked) {
                if (idString == "") {
                    idString = "11-" + idOS[i].name;
                }
                else {
                    idString = idString + "_11-" + idOS[i].name;
                }
            }
        }

        // Weight
        var idWeight = $('#14').find('input[type=checkbox]');
        for (var i = 0; i < idWeight.length; i++) {
            if (idWeight[i].checked) {
                if (idString == "") {
                    idString = "14-" + idWeight[i].name;
                }
                else {
                    idString = idString + "_14-" + idWeight[i].name;
                }
            }
        }

        // Price Low
        var idPriceLow = $('#PriceLow').val();
        idString = "12-" + idPriceLow;
        console.log(idString);

        // Price hight
        var idPriceHight = $('#PriceHight').val();
        idString = "13-" + idPriceHight;
        console.log(idString);

        // render result
        $.getJSON(uri + "/" + idString).done(function (data) {
            console.log(data);
            $.each(data, function (key, item) {
                $('<li>', { text: formatItem(item) }).appendTo($('#laptop'));
            });
        }).fail(function (jqXHR, textStatus, err) {
            $('#laptop').text('Error:' + err);
        });

    }
</script>

